@charset "UTF-8";
/**
* "Yet Another Multicolumn Layout" - (X)HTML/CSS framework
* (en) stylesheet for screen layout
* (de) Stylesheet für das Bildschirm-Layout
*
* @creator       YAML Builder V1.2 (http://builder.yaml.de)
* @file          basemod.css
* @-yaml-minver  3.2
*/

@media screen, projection
{
	/** 
	* (en) Forcing vertical scrollbars in IE8, Firefox, Webkit & Opera 
	* (de) Erzwingen vertikaler Scrollbalken in IE8, Firefox, Webkit & Opera 
	*
	* @workaround
	* @affected IE8, FF, Webkit, Opera
	* @css-for all
	* @valid CSS3
	*/

	body { overflow-y: scroll; }

	/*-------------------------------------------------------------------------*/

	/* (en) Marginal areas & page background */
	/* (de) Randbereiche & Seitenhintergrund */
	body { background-image:  url(/Content/Images/bg2.gif); padding: 10px 0; }

	/* Layout Alignment | Layout-Ausrichtung */
	.page_margins { margin: 0 auto; }

	/* Layout Properties | Layout-Eigenschaften */
	.page_margins { width: auto;  min-width: 1024px; max-width: 1024px; background: #fff; }
	.page { padding: 0px 26px 10px 21px; position: relative; top: 0px;}
	#header { padding: 0 0 0 1; color: #000; }
	#nav {
		overflow:hidden;
		position: absolute;
		top: 230px;
	}
	div.hlist {
		background-color: #000000;
		filter:alpha(opacity=70);
		opacity: .7;
		-moz-opacity: .7;
		text-decoration: none;
		height: 50px;
		width: 972px;
	}
	div a:focus,
	div a:active,
	div a:hover,
	div a {
		text-decoration: none;
		color: white;
	}

	div.hlist ul {
		white-space:nowrap;
		display:block;
	}
	div.hlist li:focus,
	div.hlist li:active ,
	div.hlist li:hover{
		background-color:#333333;
		color: white;
	}
	
	div.hlist li {
		float:left;
		display: inline;
		font-weight: bold;
		text-decoration: none;
		color: #FFFFFF;
		line-height: 50px;
		text-align: center;
		width: 150px;
	}
	#main { margin: 10px 0; }
	#footer { padding: 10px 20px; color:#666; }

	/* (en) navigation: horizontal adjustment | (de) horizontale Ausrichtung  */
	/*-------------------------------------------------------------------------*/

	/**
	* (en) Formatting content container
	* (de) Formatierung der Inhalts-Container
	*
	*/

	#col1 { float: left; width: 230px}
	#col2 { display:none}
	#col3 { width: auto; margin: 0 0 0 230px}
	#col1_content { padding: 0 10px 0 20px }
	#col3_content { padding: 0 20px 0 10px }

	/*-------------------------------------------------------------------------*/

	.page_margins {
		border: 0 none;
		background-image:  url(/Content/Images/left2.jpg);
		background-repeat:repeat-y;
		background-position:left;
	}

	.page {
		border: 0 none;
		margin: 0 0 0 5px;
		background-image:  url(/Content/Images/right2.jpg);
		background-repeat:repeat-y;
		background-position:right;
	}


	#border-top {
		overflow:hidden;
		width: auto;
		height: 20px;
		font-size:0;
		background-image:  url(/Content/Images/bgTop4.jpg);
		background-repeat:repeat-x;
		background-position:top left;
	}

	#border-bottom {
		overflow:hidden;
		width: auto;
		height: 20px;
		font-size:0;
		background-image:  url(/Content/Images/bgBottom3.jpg);
		background-repeat:repeat-x;
		background-position:bottom left;
	}

	#edge-tl {
		float:left;
		width: 20px;
		height: 20px;
		font-size:0;
		background-image:  url(/Content/Images/tlEdge4.jpg);
		background-position: top left;
	}

	#edge-tr {
		position:relative; /* IE Fix | z-index */
		float:right;
		width: 20px;
		height: 20px;
		font-size:0;
		background-image:  url(/Content/Images/trEdge4.jpg);
		background-position: top right;
	}

	#edge-bl {
		float:left;
		width: 20px;
		height: 20px;
		background-image:  url(/Content/Images/blEdge3.jpg);
		background-position: bottom left;
	}

	#edge-br {
		position:relative; /* IE Fix | z-index */
		float:right;
		width: 20px;
		height: 20px;
		background-image:  url(/Content/Images/brEdge3.jpg);
		background-position: bottom right;
	}
	
	
	/* ----- Thumbnail Grid Styles */
.thumbs ul, .thumbs li {
    list-style: none;
	}
.thumbs li {
    float: left;
    padding: 5px 0 0 5px;
    position: relative;
    width: 178px;
	padding: 8px;
    height: 178px;
    }
.thumbs a {
    text-decoration: none;
    }
.thumbs a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 178px;
    height: 178px;
    background-image: url(/Content/Images/blog-frame.png);
    overflow: hidden;
    }
.thumbs a:hover span {
    background-position: bottom;
    }

}